.footer{
    width: 100%;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #4c615d;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-top: 1px solid rgb(37, 163, 142);
    font-size: 1.3vw;
}
@media(max-width: 600px) {
    .footer{
        font-size: 2.5vw;
    }
}
.footer p{
    width: 30%;
    min-width: 200px;
    min-height: 25px;
    margin: 0px;
}
.footer a{
    color: whitesmoke;
    margin: 0px;
}