.footer{
    width: 100%;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(76, 97, 93);
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(37, 163, 142);
}
.footer p{
    width: 30%;
    min-width: 200px;
    min-height: 70px;
    margin: 0px;
}
.footer a{
    color: whitesmoke;
}