.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    padding: 40px;
    gap: 30px;
    width: 100%;
    min-height: 400px;
    background-color: rgb(15, 15, 15);
    /* border-bottom: 1px solid rgb(37, 163, 142); */
    /* aspect-ratio: 960/300; */
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./assets/stacked-waves-bg.svg');
}
.card{
    min-width: 250px;
    width: 300px;
    min-height: 200px;
    /* background-color: rgb(41, 41, 41); */
    /* background-image: url('./project-bg.svg'); */
    /* overflow-wrap: break-all; */
    word-wrap: break-word;
    color: whitesmoke;
    text-align: center;
    border: 1px solid rgb(37, 163, 142);
    border-radius: 55px;
    box-shadow: 3px 3px rgb(37, 163, 142);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.card{
    font-size: clamp(0.75rem, 0.75rem + 1.5vw, 0.9rem);
}
.list{
    width: 250px;
    /* background-color: aqua; */
    list-style: none;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-inline-start: 0px;
}
.list li{
    margin: 5px;
    /* background-color: aqua; */
    width: 80%;
    min-width: 150px;
}
@media(max-width: 900px) {
    .card p{
        /* font-size: 1rem; */
    }
    .card h3{
        font-size: 1.2rem;
    }
}
.heading {
    color: rgb(37, 163, 142);
}
.text{
    line-height: 30px;
}
.balance{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    /* margin: 10px; */
    text-align: left;
    width: 50%;
    /* background-color: aqua; */
}
.logo{
    height: 20px;
    width: 20px;
    background-color: #fff;
}